#!/bin/bash

set -o errexit
set -o nounset
set -o pipefail

# prerequisite
{{ range $prerequisiteCMD := .PrerequisitesCMDs }}
{{- $prerequisiteCMD }}
{{ end }}

# pre operation
{{ range $preCMD := .PreHookCMDs }}
{{- $preCMD }}
{{ end }}

# run kubespray
{{ .SprayCMD }}

# post operation
{{ range $postCMD := .PostHookCMDs }}
{{- $postCMD }}
{{ end }}
