{{- $name := include "kubean.name" . -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ $name }}
rules:
  - apiGroups: ['*']
    resources: ['*']
    verbs: ['*']
  - nonResourceURLs: ['*']
    verbs: ['*']
  - apiGroups: ['certificates.k8s.io']
    resourceNames: ['kubernetes.io/*']
    resources: ['signers']
    verbs: ['approve']
  - apiGroups: ['rbac.authorization.k8s.io']
    resources: ['clusterroles']
    verbs: ['*']
  - apiGroups: ['authentication.k8s.io']
    resources: ['*']
    verbs: ['*']
  - apiGroups: ['authorization.k8s.io']
    resources: ['*']
    verbs: ['*']