{{- $name := include "kubean.name" . -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ $name }}
rules:
  - apiGroups: [ '' ]
    resources: [ 'configmaps','pods','secrets','serviceaccounts','events' ]
    verbs: [ "get", "list", "watch", "create", "update", "patch", "delete" ]
  - apiGroups: [ 'coordination.k8s.io' ]
    resources: [ 'leases' ]
    verbs: [ "get", "list", "watch", "create", "update", "patch", "delete" ]
  - apiGroups: [ 'kubean.io' ]
    resources: [ 'clusteroperations','clusters','localartifactsets','manifests' ]
    verbs: [ "get", "list", "watch", "create", "update", "patch", "delete" ]
  - apiGroups: [ 'batch' ]
    resources: [ 'jobs' ]
    verbs: [ "get", "list", "watch", "create", "update", "patch", "delete" ]
  - nonResourceURLs: [ '/healthz' ]
    verbs: [ 'get' ]
  - apiGroups: [ 'certificates.k8s.io' ]
    resourceNames: [ 'kubernetes.io/*' ]
    resources: [ 'signers' ]
    verbs: [ 'approve' ]
  - apiGroups: [ 'rbac.authorization.k8s.io' ]
    resources: [ 'clusterroles' ]
    verbs: [ "get", "list", "watch", "create", "update", "patch", "delete" ]
  - apiGroups: [ 'authentication.k8s.io' ]
    resources: [ 'tokenreviews' ]
    verbs: [ "get", "list", "watch", "create", "update", "patch", "delete" ]
  - apiGroups: [ 'authorization.k8s.io' ]
    resources: [ 'localsubjectaccessreviews','selfsubjectaccessreviews','selfsubjectrulesreviews','subjectaccessreviews' ]
    verbs: [ "get", "list", "watch", "create", "update", "patch", "delete" ]
