{{- $name := include "kubean.name" . -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ $name }}
rules:
  - apiGroups: [ 'kubean.io' ]
    resources: [ 'clusteroperations','clusteroperations/status','clusters','clusters/status','localartifactsets','localartifactsets/status','manifests','manifest/status' ]
    verbs: [ '*' ]
  - apiGroups: [ 'admissionregistration.k8s.io' ]
    resources: [ 'validatingwebhookconfigurations' ]
    resourceNames: [ 'kubean-admission-webhook' ]
    verbs: [ 'get', 'create', 'update' ]
