
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.6.2
  creationTimestamp: null
  name: kubeancomponentsversions.kubean.io
spec:
  group: kubean.io
  names:
    kind: KuBeanComponentsVersion
    listKind: KuBeanComponentsVersionList
    plural: kubeancomponentsversions
    singular: kubeancomponentsversion
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            properties:
              docker:
                items:
                  properties:
                    defaultVersion:
                      type: string
                    os:
                      type: string
                    versionRange:
                      items:
                        type: string
                      type: array
                  required:
                  - os
                  type: object
                type: array
              items:
                items:
                  properties:
                    defaultVersion:
                      type: string
                    name:
                      type: string
                    versionRange:
                      items:
                        type: string
                      type: array
                  required:
                  - name
                  type: object
                type: array
              kubean:
                description: Kubean , the tag of kubean-io
                type: string
              kubespray:
                description: Kubespray , the tag of kubespray
                type: string
            type: object
          status:
            properties:
              offline:
                properties:
                  docker:
                    items:
                      properties:
                        os:
                          type: string
                        versionRange:
                          items:
                            type: string
                          type: array
                      required:
                      - os
                      type: object
                    type: array
                  items:
                    items:
                      properties:
                        name:
                          type: string
                        versionRange:
                          items:
                            type: string
                          type: array
                      required:
                      - name
                      type: object
                    type: array
                type: object
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
