# Copyright 2023 Authors of kubean-io
# SPDX-License-Identifier: Apache-2.0

---
- name: Enable additional package repo config in offline scenarios
  hosts: k8s_cluster
  become: true
  any_errors_fatal: "{{ any_errors_fatal | default(true) }}"
  vars:
    repo_name: extension
    repo_list: []
    redhat_os_family_extensions:
      - "Kylin Linux Advanced Server"
      - "openEuler"
      - "UnionTech"
      - "UniontechOS"
      - "TencentOS"

    yum_repo_src_path: /etc/yum.repos.d
    yum_repo_bak_path: /etc/yum.repos.d.bak

    apt_repo_src_file: /etc/apt/sources.list
    apt_repo_bak_file: /etc/apt/sources.list.bak
    apt_repo_src_path: /etc/apt/sources.list.d
    apt_repo_bak_path: /etc/apt/sources.list.d.bak

  tasks:

    # Install
    - name: Set os_family fact for Kylin Linux Advanced Server
      set_fact:
        ansible_os_family: "RedHat"
      when: ansible_distribution in redhat_os_family_extensions

    ## yum repository config
    - name: Checking if extension yum repo exists
      stat:
        path: "{{ yum_repo_src_path }}/{{ repo_name }}.repo"
      register: file_data
      when:
        - ansible_os_family == "RedHat"

    - name: Backup original yum repo if extension repo not exist
      shell: >-
        mv {{ yum_repo_src_path }} {{ yum_repo_bak_path }} &&
        mkdir -p {{ yum_repo_src_path }}
      when:
        - ansible_os_family == "RedHat"
        - not file_data.stat.exists and ( repo_list | length > 0 )
        - not undo|default(false)|bool

    - name: Enable extension yum repositories
      ansible.builtin.yum_repository:
        name: "{{ repo_name }}-{{ url_index }}"
        description: "kubean {{ repo_name }} {{ url_index }}"
        file: "{{ repo_name }}"
        baseurl: "{{ url_item }}"
        gpgcheck: false
      loop: "{{ repo_list }}"
      loop_control:
        loop_var: url_item
        index_var: url_index
      when:
        - ansible_os_family == "RedHat"
        - not undo|default(false)|bool

    ## apt repository config
    - name: Checking if extension apt repo exists
      stat:
        path: "{{ apt_repo_src_path }}/{{ repo_name }}.list"
      register: deb_repo_data
      when:
        - ansible_pkg_mgr == 'apt'

    - name: Backup original apt repo if extension repo not exist
      shell: >-
        mv {{ apt_repo_src_file }} {{ apt_repo_bak_file }} &&
        mv {{ apt_repo_src_path }}/ {{ apt_repo_bak_path }}/ &&
        mkdir -p {{ apt_repo_src_path }}/
      when:
        - ansible_pkg_mgr == 'apt'
        - not deb_repo_data.stat.exists and ( repo_list | length > 0 )
        - not undo|default(false)|bool

    - name: Enable extension apt repositories
      apt_repository:
        repo: "{{ item }}"
        state: present
        filename: "{{ repo_name }}"
      with_items: "{{ repo_list }}"
      when:
        - ansible_pkg_mgr == 'apt'
        - not deb_repo_data.stat.exists and ( repo_list | length > 0 )
        - not undo|default(false)|bool

    # Uninstall

    ## yum repository config
    - name: Clean extension repo
      shell: >
        rm -rf {{ yum_repo_src_path }}/{{ repo_name }}.repo
      args:
        executable: /bin/bash
      register: clean_repo_result
      until: clean_repo_result.rc == 0
      retries: 5
      delay: 5
      when:
        - undo|default(false)|bool
        - ansible_os_family == "RedHat"
        - file_data.stat.exists

    - name: Checking if yum repo backup path exists
      stat:
        path: "{{ yum_repo_bak_path }}"
      register: repo_bak_path
      when:
        - undo|default(false)|bool
        - ansible_os_family == "RedHat"

    - name: Restore the original yum repo configuration
      shell: >
        rm -rf {{ yum_repo_src_path }} &&
        mv {{ yum_repo_bak_path }}/ {{ yum_repo_src_path }}/
      args:
        executable: /bin/bash
      register: restore_repo_result
      until: restore_repo_result.rc == 0
      retries: 5
      delay: 5
      when:
        - undo|default(false)|bool
        - ansible_os_family == "RedHat"
        - repo_bak_path.stat.exists

    ## apt repository config
    - name: Checking if backup apt repo exists
      stat:
        path: "{{ apt_repo_bak_file }}"
      register: list_file
      when:
        - undo|default(false)|bool
        - ansible_pkg_mgr == 'apt'

    - name: Checking if backup apt repo path exists
      stat:
        path: "{{ apt_repo_bak_path }}"
      register: list_path
      when:
        - undo|default(false)|bool
        - ansible_pkg_mgr == 'apt'

    - name: Restore the original apt repo configuration
      shell: >-
        mv {{ apt_repo_bak_file }} {{ apt_repo_src_file }} &&
        rm {{ apt_repo_src_path }}/ -rf &&
        mv {{ apt_repo_bak_path }}/ {{ apt_repo_src_path }}/
      when:
        - undo|default(false)|bool
        - ansible_pkg_mgr == 'apt'
        - list_file.stat.exists and list_path.stat.exists
