name: OS Packages Build

on: workflow_call

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
        - name: centos7
          dockerfile: build/os-packages/Dockerfile.centos7
        - name: redhat7
          dockerfile: build/os-packages/Dockerfile.redhat7
        - name: redhat8
          dockerfile: build/os-packages/Dockerfile.redhat8
        - name: kylinv10
          dockerfile: build/os-packages/Dockerfile.kylinv10
        - name: openeuler22.03
          dockerfile: build/os-packages/Dockerfile.openeuler22.03
        - name: oracle9
          dockerfile: build/os-packages/Dockerfile.oracle9
        - name: tencent31
          dockerfile: build/os-packages/Dockerfile.tencent31
        - name: ubuntu1804
          dockerfile: build/os-packages/Dockerfile.ubuntu1804
        - name: ubuntu2004
          dockerfile: build/os-packages/Dockerfile.ubuntu2004
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Set env
      run: |
        ORGANIZATION_NAME=$(echo ${GITHUB_REPOSITORY} | awk -F "/" '{print $1}' | tr '[:upper:]' '[:lower:]')
        echo "ORG_NAME=${ORGANIZATION_NAME,,}" >> ${GITHUB_ENV}

    - name: Check if the OS package needs to be rebuilt
      id: check
      env:
        OS_NAME: ${{ matrix.name }}
        ORG_NAME: ${{ env.ORG_NAME }}
      run: |
        ret=`bash build/os-packages/check_rebuild_pkgs.sh`
        echo "need_rebuild=${ret}" >>$GITHUB_OUTPUT

    - name: Set up QEMU
      if: ${{ steps.check.outputs.need_rebuild == 'true' }}
      uses: docker/setup-qemu-action@v2

    - name: Set up Docker Buildx
      if: ${{ steps.check.outputs.need_rebuild == 'true' }}
      uses: docker/setup-buildx-action@v2.7.0

    - name: Build OS packages to local
      if: ${{ steps.check.outputs.need_rebuild == 'true' }}
      uses: docker/build-push-action@v4.1.1
      with:
        context: .
        file: ${{ matrix.dockerfile }}
        platforms: linux/amd64,linux/arm64
        outputs: type=local,dest=./

    - name: Make OS packages into Tar files
      if: ${{ steps.check.outputs.need_rebuild == 'true' }}
      shell: bash
      run: |
        mkdir -p os-pkgs/
        mv linux_amd64/resources resources
        tar -I pigz -cf os-pkgs/os-pkgs-amd64.tar.gz resources --remove-files
        mv linux_arm64/resources resources
        tar -I pigz -cf os-pkgs/os-pkgs-arm64.tar.gz resources --remove-files
        sha256sum os-pkgs/os-pkgs-{amd64,arm64}.tar.gz > os-pkgs/os-pkgs.sha256sum.txt
        cp artifacts/import_ospkgs.sh os-pkgs/
        tar -I pigz -cf os-pkgs-${{ matrix.name }}-${{ github.ref_name }}.tar.gz os-pkgs/ --remove-files

    - name: Release and upload packages
      if: startsWith(github.ref, 'refs/tags/')
      uses: softprops/action-gh-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        # generate_release_notes: true
        files: |
          os-pkgs-${{ matrix.name }}-${{ github.ref_name }}.tar.gz
