name: Build OS Packages

on: workflow_call

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: centos7
            dockerfile: build/os-packages/Dockerfile.centos7
          - name: centos8
            dockerfile: build/os-packages/Dockerfile.centos8
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2.0.0

      - name: Build OS packages to local
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ${{ matrix.dockerfile }}
          platforms: linux/amd64,linux/arm64
          outputs: type=local,dest=./

      - name: Make OS packages into Tar files
        shell: bash
        run: |
          mkdir -p os-pkgs/
          mv linux_amd64/resources resources
          tar -I pigz -cf os-pkgs/os-pkgs-$GITHUB_REF_NAME-amd64.tar.gz resources --remove-files
          mv linux_arm64/resources resources
          tar -I pigz -cf os-pkgs/os-pkgs-$GITHUB_REF_NAME-arm64.tar.gz resources --remove-files
          sha256sum os-pkgs/os-pkgs-$GITHUB_REF_NAME-{amd64,arm64}.tar.gz > os-pkgs/os-pkgs-$GITHUB_REF_NAME.sha256sum.txt
          cp artifacts/import_ospkgs.sh os-pkgs/
          tar -I pigz -cf os-pkgs-${{ matrix.name }}-$GITHUB_REF_NAME.tar.gz os-pkgs/ --remove-files

      - name: Release and upload packages
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: |
            os-pkgs-${{ matrix.name }}-${{ github.ref_name }}.tar.gz

      # - name: Store os packages cache
      #   uses: actions/cache@v3
      #   with:
      #     path: |
      #       os-pkgs/kubean-${{ github.ref_name }}-${{ matrix.name }}.sha256sum.txt
      #       os-pkgs/kubean-${{ github.ref_name }}-${{ matrix.name }}-amd64.tar.gz
      #       os-pkgs/kubean-${{ github.ref_name }}-${{ matrix.name }}-arm64.tar.gz
      #     key: os-pkgs-build-${{ matrix.name }}

