name: Build Kubean Imgs

on:
  workflow_call:
    inputs:
      SPRAY_IMG_TAG:
        required: true
        type: string
      REPO:
        required: true
        type: string
      BUILD_IMG_TAG:
        required: true
        type: string

jobs:
  build-imgs:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
        - name: airgap-patch
          dockerfile: build/images/airgap-patch/Dockerfile
          tags: |
            ghcr.io/${{ inputs.REPO }}/airgap-patch:${{ inputs.BUILD_IMG_TAG }}
            ghcr.io/${{ inputs.REPO }}/airgap-patch:latest
          build-args: |
            SPRAY_TAG=${{ inputs.SPRAY_IMG_TAG }}
            REPO=${{ inputs.REPO }}
        - name: spray-job
          dockerfile: build/images/spray-job/Dockerfile
          tags: |
            ghcr.io/${{ inputs.REPO }}/spray-job:${{ inputs.BUILD_IMG_TAG }}-ansible10next
            ghcr.io/${{ inputs.REPO }}/spray-job:latest
          build-args: |
            SPRAY_TAG=${{ inputs.SPRAY_IMG_TAG }}
            REPO=${{ inputs.REPO }}
        - name: spray-job-ansible9
          dockerfile: build/images/spray-job/Dockerfile
          tags: |
            ghcr.io/${{ inputs.REPO }}/spray-job:${{ inputs.BUILD_IMG_TAG }}
          build-args: |
            SPRAY_TAG=${{ inputs.SPRAY_IMG_TAG }}-ansible9
            REPO=${{ inputs.REPO }}
        - name: kubean-operator
          dockerfile: build/images/kubean-operator/Dockerfile
          tags: |
            ghcr.io/${{ inputs.REPO }}/kubean-operator:${{ inputs.BUILD_IMG_TAG }}
            ghcr.io/${{ inputs.REPO }}/kubean-operator:latest
          build-args: ""
        - name: kubean-admission
          dockerfile: build/images/kubean-admission/Dockerfile
          tags: |
            ghcr.io/${{ inputs.REPO }}/kubean-admission:${{ inputs.BUILD_IMG_TAG }}
            ghcr.io/${{ inputs.REPO }}/kubean-admission:latest
          build-args: ""

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3.11.1

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: ${{ matrix.name }} image build
      uses: docker/build-push-action@v6.18.0
      with:
        context: ./
        file: ${{ matrix.dockerfile }}
        github-token: ${{ secrets.GITHUB_TOKEN }}
        push: true
        provenance: false
        platforms: linux/amd64,linux/arm64
        tags: ${{ matrix.tags }}
        build-args: ${{ matrix.build-args }}
        cache-from: type=gha
        cache-to: type=gha,mode=max
