name: 6. Daily e2e test

on:
  # refer: https://crontab.guru/examples.html
  # 14:00 is us time
  workflow_dispatch:
  schedule:
    - cron: '0 14 * * *'
concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true
env:
  VSPHERE_USER: ${{ secrets.VSPHERE_USER }}
  VSPHERE_PASSWD: ${{ secrets.VSPHERE_PASSWD }}
  AMD_ROOT_PASSWORD: ${{ secrets.AMD_ROOT_PASSWORD }}
  KYLIN_VM_PASSWORD: ${{ secrets.KYLIN_VM_PASSWORD }}
  
jobs:
  build-push-for-e2e:
    uses: ./.github/workflows/build-push-for-e2e.yml

  schedule_sonobouy_e2e_step:
    needs: build-push-for-e2e
    runs-on: [self-hosted, online]
    strategy:
      fail-fast: false
      matrix:
        NIGHTLY_E2E_STEP: [ "STEP1", "STEP2", "STEP3", "network-e2e-step1" , "network-e2e-step2",  "network-e2e-step3",  "network-e2e-step4",  "network-e2e-step5" , "network-e2e-step6" , "network-e2e-step7" , "network-e2e-step8",  "network-e2e-step9"]
    timeout-minutes: 900
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v6
        with:
          go-version: 1.24.3

      - name: e2e_schedule_sonobuoy
        uses: nick-fields/retry@v3
        env:
          NIGHTLY_E2E_STEP: ${{ matrix.NIGHTLY_E2E_STEP }}
        with:
          timeout_minutes: 300
          max_attempts: 3
          retry_on: error
          command: |
            CONTAINER_TAG="$(git describe --tags --abbrev=8)-e2e"
            HELM_CHART_VERSION=`echo ${CONTAINER_TAG}|awk -F "-" '{print $1 }'`
            TAG_SECOND_PART=`echo ${CONTAINER_TAG}|awk  -F "-" '{print $2 }'`
            if [[ ${TAG_SECOND_PART} =~ rc[0-9]+ ]];then
            HELM_CHART_VERSION=`echo ${CONTAINER_TAG}|awk -F "-" '{print $1"-"$2 }'`
            fi
            echo ${{ runner.name }}
            echo "${HELM_CHART_VERSION}"
            echo "${CONTAINER_TAG}"
            echo "${NIGHTLY_E2E_STEP}"
            bash hack/e2e.sh "${HELM_CHART_VERSION}" "${CONTAINER_TAG}" ${{ runner.name }} "${VSPHERE_USER}" "${VSPHERE_PASSWD}" "${AMD_ROOT_PASSWORD}" "${KYLIN_VM_PASSWORD}" "NIGHTLY" "${NIGHTLY_E2E_STEP}"

