name: tag-charts

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
env:
  KUKEAN_OPERATOR_IMAGE_NAME: kubean-operator
  KUBESPRAY_IMAGE_NAME: kubespray
  SPRAY_JOB_IMAGE_NAME: spray-job
  KUBESPRAY_TAG: master

jobs:
  call-offline-build:
    uses: ./.github/workflows/call-offline-build.yaml

  call-os-pkgs-build:
    uses: ./.github/workflows/call-os-pkgs-build.yaml
  
  call-images-build:
    uses: ./.github/workflows/call-images-build.yaml
    secrets: inherit

  charts:
    needs: [call-images-build,call-offline-build]
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # - name: Restore offline-build-cr-file cache
      #   uses: actions/cache@v3
      #   with:
      #     path: charts/kubean/templates/kubeancomponentsversion.cr.yaml
      #     key: offline-build-cr-file

      - name: update helm version and image tag
        run: |
          CHART_VERSION="version: ${GITHUB_REF_NAME}"
          CHART_IMAGE_TAG="${GITHUB_REF_NAME}"
          sed -i "/^version/c ${CHART_VERSION}" charts/kubean/Chart.yaml
          # example =>  tag: v0.1.0
          sed -i "/tag:/c\ \ tag: ${CHART_IMAGE_TAG}" charts/kubean/values.yaml

      - name: Pushes charts to another repository
        id: push_directory
        uses: cpina/github-action-push-to-another-repository@ssh-deploy-key
        env:
          SSH_DEPLOY_KEY: ${{ secrets.SSH_DEPLOY_KEY }}
        with:
          source-directory: charts
          destination-github-username: 'kubean-io'
          destination-repository-name: 'kubean-helm-chart'
          user-email: kubean-robot@ykubean.io
          commit-message: See ORIGIN_COMMIT from $GITHUB_REF
          target-directory: charts
          target-branch: main

  # call-upload-qiniu:
  #   needs: [call-os-pkgs-build,call-offline-build]
  #   uses: ./.github/workflows/call-upload-qiniu.yaml
  #   secrets: inherit
